<footer class="bg-jitsem-600 dark:bg-jitsem-800 w-full">
    <div class="text-white mx-auto flex flex-col md:flex-row justify-center items-center">
        <div class="flex flex-row justify-center items-center">
            <a href="https://github.com/jitsem">
                <img class="w-4 mx-3 my-1 fill-gray-900 dark:fill-white" src="logos/github.svg" alt="GitHub logo"/>
            </a>
            <a href="https://www.linkedin.com/in/jitse-meulenijzer-872625175/">
                <img class="w-4 mx-3 my-1 fill-gray-900 dark:fill-white" src="logos/linkedin.svg" alt="LinkedIn logo"/>
            </a>
            <a href="mailto:info@jitsem.be">
                <img class="w-4 mx-3 my-1 fill-gray-900 dark:fill-white" src="logos/mail.svg" alt="mail"/>
            </a>
        </div>
        <div class="mx-1">Made in Rust + HTMX</div>
        <div class="mx-1">© jitsem 2025</div>
    </div>
</footer>
