<div class="flex justify-between flex-wrap md:mx-16 mx-8 md:px-10">
    <div id="nav" hx-boost="true">
        <div class="text-xl">
            <a class="logo" href="/">
                Jitse<b class="text-jitsem-500">m</b>
            </a>
        </div>
        <div>
            <ul class="flex justify-between">
                <li class="mx-3 text-xl md:text-3xl no-underline lowercase hover:text-jitsem-500 transition duration-500">
                    <a href="/about">About</a>
                </li>
                <li
                    class="mx-3 text-xl md:text-3xl no-underline lowercase hover:text-jitsem-500 transition duration-500">
                    <a href="/projects">Projects</a>
                </li>
                <li class="mx-3 text-xl md:text-3xl no-underline lowercase hover:text-jitsem-500 transition duration-500">
                    <a href="/playground">Playground</a>
                </li>
                <li>
                    <div>
                        <input type="checkbox" id="theme-toggle" />
                        <label for="theme-toggle" class="md:h-10 md:w-10 w-6 h-6"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
